.quizzes {
  width: 100%;
  padding: calc(var(--nav-top-distance) * 5) var(--side-distance);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.quizzes__quiz {
  flex-grow: 1;
  background-color: var(--transparent-white);
  border-radius: 50px;
  padding: 2rem;
}

.quizzes__quiz p {
  font-size: var(--font-small);
}

.quizzes-quiz__information > * {
  display: inline;
  vertical-align: middle;
}

.quiz__separator {
  width: 5px;
  height: 5px;
  background-color: var(--transparent-white);
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem;
}

.quiz__tags {
  margin-top: 1.2rem;
  margin-bottom: 5rem;
}

.quiz-tags__tag {
  background-color: var(--transparent-white);
  border-radius: 20px;
  color: white;
  padding: 0.5rem 2rem;
  font-size: var(--font-small);
  opacity: 0.7;
  margin-right: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.quizzes-quiz__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quizzes-quiz-action__labels {
  display: flex;
  gap: 2rem;
}

.quizzes-quiz-action__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quizzes-quiz-action__label img {
  width: 20px;
  height: 20px;
}

/* media queries */

@media screen and (max-width: 742px) {
  .quizzes {
    padding-top: 50vh;
  }
}

@media screen and (max-width: 500px) {
  .quizzes-quiz__action {
    flex-direction: column;
  }
}
